.Label {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
        border: 0;
        padding: 10px;
        background-color: red;
        border-radius: 7px;
        color: #fff;

        &:disabled {
            opacity: 0.5;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}