.H1 {
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
}
.H2 {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
}
.H3 {
    font-size: 27px;
    font-weight: 700;
    margin: 10px 0;
}